* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

@keyframes body-fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

html {
    animation-name: body-fade;
    animation-duration: 3s;
    
}

#news {
    color: #001825;
}

.home {
    color: #0038ff;
}

.main-name {
    color: #ffffff;
    font-family: "syne";
}

.main-name h2 {
    font-size: 64px;
}

.main-name p {
    font-size: 16px;
}

main {
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-posts {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    align-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    gap: 20px;
}

.news-posts h2, .news-posts a, .news-posts h6, .news-posts p {
    font-family: "syne";
}

.news-posts a h2 {
    max-width: 95%;
}

.news-posts a p {
    max-width: 100%;
}

.news-posts a, h6 {
    color: #0038ff;
}

.news-posts div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-posts a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

#flex-a {
    gap: 38px;
}

.news-posts img {
    max-width: 100%;
}

.news-posts a {
    justify-self: flex-end;
}

.news-posts a p {
    justify-self: flex-end;
}

.shown-span {
    display: none;
}

@media screen and (max-width:426px) {
    .main-name h2 {
        font-size: 30px;
    }

    .news-posts {
        width: 90vw;
        margin: auto;
        display: block;
    }

    .news-posts>div{
        margin-bottom: 30px;
    } 

    main {
        padding: unset;
        padding: 50px 10px;
    }
}

@media screen and (min-width:425px) and (max-width:1025px) {
    .news-posts {
        min-width: fit-content;
    }
}

@media screen and (max-width: 1025px) {
    .news-posts a h2, .news-posts a p {
        max-width: 100%;
    }

    .hidden-span {
        display: none;
    }

    .shown-span {
        display: unset;
    }
}