* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

@keyframes body-fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

/* From Uiverse.io by Mohsinech */ 
.toggle {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(1, 103, 255);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
  
.toggle span {
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
  
.toggle span:nth-child(1) {
    transform: translateY(-15px);
    width: 18px;
    left: 11px;
}
  
.toggle.toggle:hover span:nth-child(1) {
    width: 29px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
}
  
.toggle span:nth-child(2) {
    transform: translateY(15px);
    width: 10px;
    left: 11px;
}
  
.toggle.toggle:hover span:nth-child(2) {
    width: 29px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.125s;
}
  
.toggle:hover span:nth-child(3) {
    transform: translateX(60px);
}

.burger-menu-icon {
    display: none;
}

  
html {
    animation-name: body-fade;
    animation-duration: 3s;
    
}

html {
    overflow-x:  hidden;
}

.header-menu-list li a {
    color: #0038ff;
}

body {
    background-color: #0038ff;
}

.header-main-div {
    background-color: #0038ff;
    height: 80px;
    min-width: fit-content;
    position: sticky;
    top: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #f5f5f5;
    border-radius: 0px 0px 30px 30px;
}

.header-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-size: 16px;
}

.header-name, .header-menu-list {
    color: #0038ff;
}

.header-name {
    font-size: 18px;    
    font-family: "Syne", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 


.header-menu-list li {
    font-family: "Wix MadeFor Text", serif;
}

.blue-bg {
    background-color: #0038ff;
    padding: 10px 15px;
    border-radius: 20px;
}

.footer {
    align-self: center;
    padding: 50px 10px;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(2, 0.5fr);
    gap: 10px;
    background-color: #ffffff;
    /* ყოველ შემთხვევაში დავამატე ბადიზე რო უკანა
     ფონი გავწერო ფუტერი მაინც თეთრი მინდა */
}

.right-top, .right-bottom {
    grid-column: 3/4;
}

.right-top {
    align-self: self-end;
    justify-self: self-end;
}

.footer-left, .right-top {
    display: grid;
    grid-template-rows: 4;
    gap: 10px;
    width: fit-content;
}

.right-bottom {
    height: fit-content;
    padding: 20px;
    display: grid;
    grid-template-rows:repeat(auto, 1fr);
    grid-auto-rows: 83.43px;    
    grid-template-columns: 1fr 1fr;
}

.first-row-grid, .second-row-grid{
    grid-column: 1/-1;
}

.footer-left h3{
    margin-bottom: 30px;
    border: solid 1px #0038ff;
    border-radius: 20px;
    padding: 10px 15px;
    font-family: "syne";
    font-size: 18px;
}

.footer-left h3, button {
    color: #0038ff;
}

.footer button {
    padding: 12px 24px;
    border: none;
    background-color: #ffffff;
    border-radius: 40px;
    justify-self: end;
    align-self: center;
}

#button-p {
    color: #0038ff;
    width: fit-content;
    margin: auto;
    display: block;
}

.footer p, .footer label {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom4-div {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.footer input[type="email"] {
    width: 100%;
    border: 1px solid #ffffff;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: transparent;
    margin: 20px 0px;
}

.header a:hover {
    color: #001825;
    transition: 0.5s;
    font-weight: bolder;
}

@media  screen and (max-width: 426px) {

    nav {
        display: none;
    }

    .burger-menu-icon{
        display: unset;
    }

    .header-main-div {
        height: 100px;
    }
    
    .header-name {
        font-size: 15px;
    }

    .footer {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        grid-auto-columns: 50%;
    }

    .right-bottom {
        grid-column: 1/-1;
    }

    .right-top {
        grid-column: 2/-1;
    }

    .right-top, .footer-left {
        align-self: center;
    }

}

@media screen and (max-width: 1025px) and (min-width: 426px){
    
    nav {
        display: none;
    }

    .burger-menu-icon{
        display: unset;
    }

    .header-main-div {
        height: 100px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        grid-auto-columns: 20%;
        row-gap: 60px;
    }

    .right-bottom {
        grid-column: 2/5;
    }

    .right-top {
        grid-column: 4/-1;
    }

    .footer-left {
        grid-column: 1/3;
    }
}