* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

@keyframes body-fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

html {
    animation-name: body-fade;
    animation-duration: 3s;
    
}

body {
    background-color: #0038ff;
}

#home {
    color: #001825;
}

.section1 {
    padding: 20px;
    background-color: #0038ff;
}

.section1-main-div {
    background-image: url(./images/homepage\ cars.avif);
    display: flex;
    align-items: center;
    height: 70vh;
}

.section1-second-div {
    background-color: #ffffffd0;
    border-radius: 10px;
    padding: 20px 30px;
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.section1-second-div h2 {
    font-size: 50px;
}

.section1-second-div h2,  a {
    font-family: "syne" ;
}

.section1-second-div p {
    font-family: "Wix Madefor Text";
}

.section1-second-div p, .section1-second-div h2 {
    color: #0038ff;
    text-align: center;
}

.section1-main-div a {
    margin: auto;
    max-width: 200px;
    display: block;
}

.section1-main-div a, .section2-txt-div a, .section3-content a {
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    margin-top: 8px;
    text-align: center;
    color: #ffffff;
    background-color: #0038ff;
}

.section1-second-div a:hover, .section2-txt-div a:hover, .section3-content a:hover{
    background-color: #ffffff;
    border: #0038ff 1px solid;
    transition: 0.5s;
    color: #0038ff;
}

.section2 {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section2 h2, .section2 p, .section2 h3 {
    color: #0038ff;
    font-family: "syne";
}

.section2-txt-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2 h2 {
    font-size: 40px;
    width: 350px
}

.section2-img-div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.section2-img-div img {
    border-radius: 20px;
}

.img-div-imgs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}

.img-div-imgs h3, .img-div-imgs p {
    margin-left: 15px;
}

.section3-header, .section3 a {
    color: #ffffff;
    font-family: "syne";
}

.section3-header h2 {
    font-size: 50px;
}

#header-p-section3 {
    color: #ffffff;
}


.section3 h3, .section3 p {
    font-family: "syne";
    color: #0038ff;
}

.section3 h3{
    font-size: 24px;
}

.section3 p {
    font-size: 16px;
}

.section3-content>div>div {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 14px 21px;
    display: flex;
    flex-direction: column;
    gap: 10px;   
    width: 600px; 
    justify-content: space-between;
}

.section3-content>div {
    display: flex;
    gap: 50px;
}

.section3-content a {
    width: 200px;
}

.section3-content {
    align-self: center;

}

.section3-button-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section3 img {
    border-radius: 20px;
}

.section3 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section3-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 174px;
    gap: 50px;
}

.section3-content1 {
    grid-column: 2/6;
}

.section3-content2 {
    grid-column: 1/5;
}

.section3-content3 {
    grid-column: 3/7;
}

.section4 img{
    border-radius: 30px;
    width: 80%;
}

.section4 {
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 110vh;
}

.section4 h2{
    color: #0038ff;
    font-family: "syne";
    font-size: 70px;
}

.section4 div {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 25%;
    gap: 20px;
    max-width: fit-content;
    margin-left: 55px;
}

.shown-span {
    display: none;
}

@media screen and (max-width:426px) {
    .section3 {
        padding: 20px ;
        display: unset;
    }

    .section3 h3 {
        font-size: 18px;
    }

    .section3 p {
        font-size: 14px;
    }

    .section3-header {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .section3-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: 20px;
    }

    .section3-content>div {
        max-width: 100vw;
        display: flex;
        gap: 10px;
    }

    .section3-content>div>img {
        max-width: 20%;
        align-self: flex-end;
    }

    .section3-content>div>div {
        max-width: 70%;
        max-height: 150px;
    }
    .section3-content a {
        padding: 5px 10px;
        max-width: 100px;
    }

    .section2-txt-div h2 {
        font-size: 20px;
    }

    .section2-txt-div a {
        padding: 2px 4px;
        max-width: 205;
    }

    .img-div-imgs h3, .img-div-imgs p {
        margin: 0;
    }

    .section1-second-div {
        max-width: 70vw;
    }

    .section1-second-div h2 {
        font-size: 24px;
    }

    .section1-second-div p {
        font-size: 16px;
    }

    .section1-second-div a {
        padding: 5px 10px;
        max-width: 50%;
    }

    .section4 h2{
        font-size: 50px;
    }

    .section4 {
        justify-content: unset;
        height: fit-content;
        gap: 30px;
    }

    .section4 div {
        margin: 0;
    }

    .section4 div img {
        max-width: 30vw;
    }
}

@media screen and (max-width: 1025px){
    .hidden-span {
        display: none;
    }

    .shown-span{
        display: unset;
    }
}

@media screen and (min-width:425px) and (max-width:1025px) {
    .section4 {
        justify-content: unset;
        height: fit-content;
        gap: 30px;
    }

    .section3-content a {
        padding: 5px 10px;
        max-width: fit-content;
    }
}