#contact {
    color: #001825;
}

@keyframes body-fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

html {
    animation-name: body-fade;
    animation-duration: 3s;
    
}

#body {
    background-color: unset;
}

main {
    padding: 80px 40px;
    border-radius: 0px 0px 30px 30px;
    background-color: #0038ff;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
}

h2, p, a {
    font-family: syne;
}

.contact-header{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-column: 1/2;
}

.regis-form {
    background-color: #ffffff;
    border-radius: 20px;
    grid-column: 2/-1;
    grid-row: 2/-1;
    max-width: 35vw;
    width: 100%;
    padding: 20px;
    justify-self: end;
}

.contact-header-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-header h2 {
    font-size: 64px;
}

.contact-header p {
    font-size: 16px;
    max-width: 587px;
}

form {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
}

.message-input {
    grid-row: 5/7;
}

.message-input input[type='text'] {
    height: 80%;
}

form>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    max-width: 500px;
    width: 100%;
    border: 1px solid #0038ff;
    border-radius: 20px;
    padding: 10px;
}

form p {
    color: #0038ff;
}

form button {
    background-color: #0038ff;
    border: none;
    border-radius: 20px;
    max-width: fit-content;
    padding: 12px 50px;
    height: fit-content;
    justify-self: end;
}

form button p {
    color: #ffffff;
}

@media screen and (max-width:1025px) and (min-width:769px) {
    main {
        display: flex;
        gap: 50px;
    }

    .contact-header {
        max-width: 30vw;
    }

    .regis-form {
        max-width: 50vw;
    }
}

@media  screen and (max-width:769px) {
    
    main {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .contact-header h2{
        font-size: 30px;
    }

    .contact-header, .regis-form {
        max-width: 100vw;
    }

    form input {
        max-width: 100%;
    }
}